/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* REMOVE DEFAULT STYLING */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* REUSABLE STYLES */

:root{
  --main-color:rgb(255, 247, 240);
  --josh-intro-color:rgb(0,0,0);
  --paragraph-color:#7A746E;
  --purple-background--:rgb(117, 92, 222);
  --yellowish-background--:rgb(246, 165, 96);
  --apps-background--:rgb(243, 158, 158);
  --photography-background--:rgb(97, 196, 183);
  --public-speaking-background--:rgb(235, 117, 101);;
  --motion-graphics-background--:rgb(85, 32, 73);
  --skills-font:24px;
  --buttons-font:16px;
  --paragraphs-font:18px;
  --main-intro:44px;
  --name--:40px
  --projects-intro:32px;
}

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--main-color);
  margin: 4% 10%;
}
  
/*  NAVBAR */
#navbar{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.nav-bar-cta{
  margin-left: auto;
}

.josh-social-media{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 25px;
}

/*  HERO-INTRO  */
.hero{
  text-align: center;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.josh-intro-1{
  font-weight: bold;
  font-size: var(--main-intro);
  color: var(--josh-intro-color);
  padding-bottom: 1rem;
}

.josh-intro-2{
  color: var(--paragraph-color);
  font-size: var(--paragraphs-font);
  width: 600px;
}

/* SKILLS */

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-intro{
  margin-top: 2rem;
  font-weight: bold;
  font-size: var(--main-intro);
  color: var(--josh-intro-color);
}

/* NAME AND ABOUT SECTION  */

/*  WORK */

/* CONTACT US */

/* FOOTER */






































/* #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
/* .modal {
  display: none;  Hidden by default 
  position: fixed;  Stay in place 
  z-index: 1;  Sit on top 
  padding-top: 100px;  Location of the box 
  left: 0;
  top: 0;
  width: 100%;  Full width 
  height: 100%;  Full height 
  overflow: auto;  Enable scroll if needed 
  background-color: rgb(0,0,0);  Fallback color 
  background-color: rgba(0,0,0,0.9);  Black w/ opacity 
} 

Modal Content (image) 
.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  max-width: 45%;
}

 Caption of Modal Image 
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

 Add Animation 
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
animation-name: zoom-out;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}

 The Close Button 
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

 100% Image Width on Smaller Screens 
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
} */